<% provide(:title, "ログイン") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
  <h1>ログイン</h1>
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

      <%= f.label :email, User.human_attribute_name(:email) %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, User.human_attribute_name(:password) %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary", id: "f-login-submit" %>
    <% end %>

    <p><%= link_to "新規登録はこちら", signup_path %></p>
  </div>
</div>