<% provide(:title, 'プロフィール編集') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <h1>プロフィール編集</h1>
    <%= form_with(model: @user, url: signup_path, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "編集を保存する", class: "btn btn-primary" %>
    <% end %>

    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <img src="/assets/kaburikko1"></p>
            <p><%= link_to "編集", "#" %></p>
          </h1>

        </section>
      </aside>
    </div>

  </div>
</div>