<% provide(:title, "マイページ") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <!--ユーザごとに設定した画像を表示する-->
        <img class="avater" src="/assets/kaburikko1"></p>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.records.any? %>
      <h3>マイ完登記録 (<%= @user.records.count %>)</h3>
      <ol class="records">
        <%= render @records %>
      </ol>
      <%= will_paginate @records %>
    <% end %>
  </div>
</div>