<%= form_with(model: @micropost, url: microposts_path, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "〇級をクリアしました！！" %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>
