<li id="record-<%= record.id %>" class="record">
  <%= link_to image_tag("/assets/kaburikko1"), record.user, class: "avater"%>
  <span class="user"><%= link_to record.user.name, record.user %></span>
  <span class="content">
    <%= record.gym.name %>
    <%= record.grade %>
    <%= record.problem_id %>
    <%= good if record.strong_point %>
    <%= image_tag record.picture.url if record.picture? %>
  </span>
  <span class="timestamp">
    <%= record.created_at %>
    <% if current_user?(record.user) %>
      <%= link_to "削除", record, method: :delete,
                                       data: { confirm: "本当に削除しますか?" } %>
    <% end %>
  </span>
</li>