<li id="micropost-<%= micropost.id %>" class="micropost">
  <%= link_to image_tag("/assets/kaburikko1"), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%= micropost.created_at %>
    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "本当に削除しますか?" } %>
    <% end %>
  </span>
</li>
