<header class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
    <%= link_to "Nobolog", root_path, id: "logo", class: "navbar-brand header-logo" %>
    <div class="navbar-collapse collapse" id="navbarColor02" style="">
    <ul class="navbar-nav ml-auto">
    <% if logged_in? %>
      <li class="nav-item"><%= link_to "ユーザ一覧", users_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "ジム選択", gyms_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "記録する", new_record_path, class: "nav-link" %></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">完登記録</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
          <%= link_to "フォローユーザ", root_path, class: "dropdown-item" %>
          <%= link_to "全ユーザ", records_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">アカウント</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
          <%= link_to "マイページ", current_user, class: "dropdown-item" %>
          <%= link_to "プロフィール編集", edit_user_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="#">お試し</a>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", login_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", signup_path, class: "nav-link" %>
      </li>
    <% end %>
    </ul>
    </div>
  </nav>
</header>
