<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Nobolog", '#', id: "logo", class: "header-logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "お試し",   '#' %></li>
            <li><%= link_to "ログイン",   '#' %></li>
            <li><%= link_to "新規登録", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "お問い合わせ",   '#' %></li>
            <li><%= link_to "使い方", '#' %></li>
          </ul>
        </nav>
        <p>&copy; 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script> Nobolog.</p>
      </div>
    </footer>
  </body>
</html>
