<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
        <%= link_to "Nobolog", '#', id: "logo", class: "navbar-brand header-logo" %>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">お試し</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ログイン</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">新規登録</a>
          </li>
        </ul>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <footer class="fixed-bottom">
      <div class="container">
        <div class="d-flex bd-highlight mb-3">
          <div class="mr-auto p-2 bd-highlight">
            <p class="nav-link d-flex justify-content-start">&copy; 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script> Nobolog.</p>
          </div>
          <div class="p-2 bd-highlight">
            <%= link_to "使い方", '#', class: "nav-link d-flex justify-content-end" %>
          </div>
          <div class="p-2 bd-highlight">
            <%= link_to "お問い合わせ", '#', class: "nav-link d-flex justify-content-end"%>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
