<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <footer class="fixed-bottom">
      <div class="container">
        <div class="d-flex bd-highlight mb-3">
          <div class="mr-auto p-2 bd-highlight">
            <p class="nav-link d-flex justify-content-start">&copy; 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script> Nobolog.</p>
          </div>
          <div class="p-2 bd-highlight">
            <%= link_to "使い方", '#', class: "nav-link d-flex justify-content-end" %>
          </div>
          <div class="p-2 bd-highlight">
            <%= link_to "お問い合わせ", '#', class: "nav-link d-flex justify-content-end"%>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
